body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header{
    flex: 1 1 500px;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    align-self: stretch;
}
.up-header{
    flex: 1;
    display: flex;
    justify-content: space-between;
    
}

.header-links{
    display: flex;
    gap: 16px;
    padding: 16px;
    margin: 0;

}

.down-header{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.down-header-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.sign-up{
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    border-color: white;
    
}
.down-header-right{

}
.information{
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
   
}
.info-squares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.inspiration-quote{
    
    flex: 1 1 350px;
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
}
.inspiring-quote{
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937 ;
}
.CTA{
    flex: 1 1 200px;
    display: flex;
}

.footer{
    flex: 1 1 50px;
    background-color: #1F2937;
    color: white;
}
.square{
    height: 150px;
    width: 150px;
    border: solid blue;
    border-radius: 25px;
}
.info{
    font-size: 36px;
    font-weight: 800;
}

.inspiration-quote .thor{
    align-self: self-end;
    margin-right: 30px;
}
.rect{
    background-color: #3882F6;
    width: 1500px;
    height: 150px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    align-self: center;
}
.left{
    display: flex;
    flex-direction: column;
   
    
}
.information .info {
    align-self: center;
}